*{
  margin: 0%;
  padding: 0%;
}

.toolBox{
  display: flex;
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 15rem;
  min-height: 5rem;
  gap:0.2rem;
  transition: 0.3s;
  background-color: rgb(189, 170, 205);
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.toolControl{
  display: flex;
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  border-radius: 8px;
  transition: 0.1s;
  user-select: none;
  color: #fff;
} 

.react-grid-placeholder {
  background: rgb(0, 0, 0);
  opacity: 0.6;
  transition: 0.2s;
  user-select: none;
  z-index: -1;
  border-radius: 8px;
} 

.visible{
  transform: translateX(0vw);
}

.hidden{
  transform: translateX(50vw);
}